#zy_content_header{width: 100px; height: 35px; background-color: #34445C; text-align: center;}
#zy_content_header a{display: inline-block; padding: 6px 2px; color: #D9DDE2; font-size: 14px; font-family: "微软雅黑";}
#zy_content_main{ width: 900px; background-color: #34445C; overflow: auto;}
.zy_content_title{width: 115px; height: 31px; border-radius: 4px; background-color: #586782; text-align: center; margin: 15px;}
.zy_content_title  p{ font-size: 30px; font-family: "宋体";  font-weight: bold; text-align: center; margin-top: -2px; color: #ffffff;}
.write_diary{margin-top: 5px; display: inline-block; margin-left: -5px;}
.T{float: left; display: inline-block; margin-left:27px; }
.zy_content_title  a{font-size: 14px; font-family: "微软雅黑"; color: #ffffff; padding:2px 2px;}
.zy_content_front_line{border-bottom: 1px solid #40516D; width: 670px; margin-left: 15px; margin-top: -5px;}
#zy_content_main ul{list-style: none;margin-top: 10px; margin-left: 13px;}
.zy_bg2{color: #fe6600;}
.zy_bg3{font-family: "微软雅黑"; font-size: 14px; color: #d9dde2; display: inline-block; margin-left: -7px; padding: 5px 1px;}
.right_operate{float: right;margin-right: 220px;}
.zy_time{font-size: 12px; color: #95a0b2;}
.bg_diary{margin:4px 24px;}
.zy_bg4{background-color: #374760; width: 660px;}
.zy_content_behind_line{border-bottom: 1px solid #40516D; width: 670px; margin-left: 15px; margin-top: -5px;}
.zy_number{margin:13px; font-size: 13px; font-family: "微软雅黑";}
.zy_number span{color: #D9DDE2;}
.zy_number_front{float:left; margin-left:110px; margin-top: 2px;}
.zy_number_front p{color: #D9DDE2;}
.zy_number_behind{margin-left: 8px;}
.zy_number_behind a{padding: 2px; color: #AAC4EE;}
.zy_textinput{width: 27px; height: 13px; padding: 2px 2px; text-align: center; border: 1px solid #566580; color: #d9dde2; background-color: #3f506c;}
.zy_bt_text2{color:#ffffff; background-color: #566580; border: 1px solid #34445d; width: 45px; text-align: center; cursor: pointer;}
#zy_content_main_right{float: right;}
.zy_right_front_line{border-bottom: 1px solid #40516D; width: 200px; margin-left: 354px; margin-top: -584px;}
.zy_diary_managment{margin-left: 356px; margin-top: 5px; padding: 5px;}
.zy_man_bg1 {font-size: 12px; font-family: "微软雅黑"; color: #d9dde2;}
.zy_diary_managment a{font-size: 12px; font-family: "微软雅黑"; display: inline-block; margin-left: 100px;}
.zy_man_one{margin-left: 356px; padding: 5px;}

.zy_man_bg2{font-size: 12px; font-family: "微软雅黑";}
.zy_right_behind_line{border-bottom: 1px solid #40516D; width: 200px; margin-left: 354px; margin-top: 14px;}
.article_summary{margin-left: 520px;}