#personal_title { height: 37px; line-height: 37px; font-size: 14px; font-weight: bold; background: #263B5B; }
#personal_left_content { width: 154px; float: left; background: #374760; height: 768px; }
#personal_main_content { width: 746px; height: 768px; background: #34445C; margin-left: 154px; }
#personal_simple_info { width: 138px; margin: 0 auto; margin-top: 25px; padding-bottom: 20px; }
#personal_simple_info img { width: 105px; height: 105px; margin-left: 17px; }
#personal_simple_info a { display: block; margin-left: 44px; margin-top: 10px; color: #aac4ee; }
#personal_published_info { margin-left: 14px; margin-top: 20px; }
.personal_published_every_info { display: inline-block; width: 28px; padding: 0 5px 0; }
#personal_simple_info .personal_published_every_info a { margin: 0; }
.right_border { border-right: 1px solid #3D4E68;}
.bottom_border { border-bottom: 1px solid #3D4E68;}